.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 65px;
}


.about-menu {
  margin-top: 40px;
}

.about-menu__list {
  display: flex;
  justify-content: center;
  gap: 0 65px;

}

.about-menu__link {
  color: #2F2F51;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 26px;
}

.about-menu__link:hover {
  color: #FFFFFF;
  padding: 10px 26px;
  border-radius: 3px;
  background-color: #EF7F04;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

}

.about-wrapper {
  margin-top: 25px;
  background-color: #FFFFFF;
  display: flex;
  margin-bottom: 68px;
  border-radius: 3px;
}

.about-logo {
  margin: 46px 0 0 50px;
}

.about__text {
  width: 305px;
  margin-top: 247px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-right: 51px;

}

.about-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 108px 25px;
  align-items: center;
}


.about-item-list {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 26px;
  height: 115px;
}


.about-item-list-description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 260px;
}


.about-item-list-description-title {
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 15px;
}

.about-item-list-description-text {
  color:#000000;
  font-weight: 400;
}

.about__item-lis img {
  margin-top: 5px;
}

.about-btn {
  display: flex;
  justify-content: center;
  margin-top: 82px;
  
}

.about-btn-item {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 15px 42px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  
}
.about-btn-item:hover {
  opacity: 0.8;
}

.btn-group__item__img {
  margin-right: 12px;
}