

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.header-menu__list {
  display: flex;
  gap: 0 25px;
}

.header-menu__link {
  color: #000000;
  text-decoration: none;
}

.header-menu__link:hover {
  color: #EF7F04;
  border-top: 5px solid #EF7F04;
  padding-top: 35px;
}

.btn-group {
  display: flex;
  gap: 0 14px;
}

.btn-group__item {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 10px 19px 10px 14px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
}

.btn-group__item:hover {
  opacity: 0.5;
}

.btn-group__img {
  margin-right: 12px;
}

.btn-group__item-orange {
  background-color: #EF7F04;
}

.btn-group__item-blue {
  background-color: #3B3A63;
}

#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

@media (min-width: 300px) and (max-width: 1080px) {
  .header-menu {
    display: none;
  }

}

@media (min-width: 1081px) and (max-width: 1920px) {
  .hamburger-menu {
    display: none;
  }
}
