.main {
  background: url(../images/main/main_bg.jpg) no-repeat;
  padding: 70px 0;
  /* max-width: 1920px; */
  height: 562px;
  box-sizing: border-box;
  width: 100%;
}
.main-content {
  display: flex;
}
.left {
  padding-right: 20px;
  margin-top: 129px;
  margin-left: 150px;
}
.main__title {
  font-size: 36px;
  font-weight: 100;
  color: #FFFFFF;
  margin-bottom: 36px;
  width: 511px;
}
.main__title_orange {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  color: orange;
}
.main__advantages {
  display: flex;
  gap: 0 35px;
}
.main__advantages-item {
  width: 170px;
}

.item__description {
  color: #FFFFFF;
}
.right {
  position: relative;
}
.form {
  background-color: #FFFFFF;
  width: 428px;
  padding: 45px 40px 70px 40px;
  border-radius: 10px;
}
.form__title {
  text-align: center;
  margin-bottom: 27px;
}
.from__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 0 12px 16px;
  border-radius: 3px;
  border: none;
  background-color: #E2E2E2;
}

.from__input::placeholder {
  color: #424268;
  font-size: 14px;
}
.form {
  width: 406px;
  height: 428px;

  background: #ffffff;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 20px;
  top: 6px
}

.form h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
}

.form:before {
  content: url(../images/intro/form-liner.png);
  position: absolute;
  bottom: -30px;
  left: -90px;
  width: 600px;
  height: 110px;
}

.form input[type="submit"] {
  margin-top: 25px;

}

#prewiew-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.form input[type="text"] {
  width: 322px;
  height: 40px;

  padding-left: 16px;

  background: #e2e2e2;
  border-radius: 3px;
  border: none;
}

.form input[type="text"]::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #424268;
}

.form input[type="submit"] {
  width: 200px;
  height: 55px;

  background: #ef7f04;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 19px 40px;
}

.form input[type="submit"]:hover {
  opacity: 0.8;
}
.form label {
  font-size: 12px;

  width: 287px;

  color: #000000;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  display: none;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  position: relative;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -35px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #e2e2e2;
}

input[type="checkbox"]:checked+label:after {
  content: url(../images/intro/strelka.svg);
  position: absolute;
  top: 0px;
  left: -30px;
}

input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
}


.intro {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  min-width: 995px;
  height: 562px;
  margin: 0 auto;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background1__content-column {
  display: flex;
  flex-direction: column;
  margin-top: 129px;
  margin-left: 400px;
}

.background1__title {
  max-width: 511px;
  height: 126px;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.background1__title h1 {
  font-weight: 100;
  line-height: 42px;
  font-size: 36px;
}

.background1__title_color {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #EF7f04;
}

.background1__content-list {
  margin-right: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 38px;
}

.background1__content-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 0 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.background1__content-text_position1-2 {
  gap: 25px;
}

.background1__content-text_position3 {
  gap: 20px;
}

.header__icon {
  margin-top: 15px;
}

.header__icon_position {
  position: relative;
  left: -18px;
  top: 10px;
}

/* .background1 {
  height: 562px;
  width: 1219px;
  background: url(../images/intro/back1.png);
  background-repeat: no-repeat;
  background-color: #323248;
  background-blend-mode: multiply;

} */
/* 
.background2 {
  height: 562px;
  width: 701px;
  background-image: linear-gradient(91.72deg, rgba(50, 50, 72, 0) 1.52%, #323248 46.02%, rgba(50, 50, 72, 0) 98.62%), url(../images/intro/back2.png);
  background-repeat: no-repeat;
  background-color: #323248;
  background-blend-mode: multiply;
  position: relative;

} */

@media (min-width: 300px) and (max-width: 1100px) {

  .form {
    display: none;
  }
}