.portfolio {
  background-color: #FFFFFF;
  max-height: 410px;
  margin-top: 87px;
  border-radius: 3px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 48px;
  padding-top: 48px;
}

.portfolio__item {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 71px;
}

.item-icons {
  border-radius: 3px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
.item-icons:hover {
transform: translateY(-5px);
transition: 0.3s;
}

@media (min-width: 300px) and (max-width: 992px) {
  .item-icons_hidden {
    display: none;
  }
}