.question {
  background-color: #EF7F1A;
  border-radius: 3px;
  padding-bottom: 63px;
  margin-bottom: 75px;
}

.question__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 48px;
  padding-top: 40px;
  color: #FFFFFF;
}

details{
  display:block;
  background: #EEEEF3;
  max-width: 998px;
  margin: 0 auto;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow:hidden;
  margin-bottom: 1.5rem;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: 30px 0 30px 19px;
   border-bottom: 1px solid #e2e8f0;
   font-size:1.4em;
   cursor: pointer;
   position: relative;
}
summary:before {  
  top: 1.4em;
  right: 1.3em;
  color: transparent;
  background: url(../images/question/strelka.svg) no-repeat;
  width: 30px;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
   padding: 0 1em 10px 1.4em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}

@media (min-width: 300px) and (max-width: 1100px) {
  details {
    margin: 15px 40px;
  }
}