.services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 68px 0 48px 0;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.services__category1 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../images/section_services/rectangle-16.png);
  width: 595px;
  height: 268px;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* .services__category1:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: 0.3s;
} */

.services__category2 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../images/section_services/rectangle-21.png);
  width: 595px;
  height: 268px;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* .services__category2:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: 0.3s;
} */

.services__category3 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../images/section_services/rectangle-23.png);
  width: 595px;
  height: 268px;
  border-radius: 3px;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* .services__category3:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: 0.3s;
} */

.services__category4 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(../images/section_services/rectangle-25.png);
  width: 595px;
  height: 268px;
  border-radius: 3px;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* .services__category4:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: 0.3s;
} */

.services-text-title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 67px 0 35px 21px;
}

.services-img {
  float: left;
  margin: 56px 0 0 50px;
}

.services-text {
  width: 350px;
  padding: 0 0 0 50px;
  line-height: 19px;
}

@media (min-width: 600px) and (max-width: 1206px) {

  .services__wrapper {
    display: flex;
    justify-content: center;
  }
}